.footerdiv{
   background: #414141;
color: white;
display: flex;
padding: 3rem 5%;
align-items: center;
flex-wrap: wrap; 
}




ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
h4 {
  flex: 3 1 40rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 842px) {
  ul {
    order: 1;
  }
  h4 {
    order: 2;
    text-align: center;
    padding: 1rem;
  }
}